html {
    font-size: 8px;

}

#container {
    display: grid;

    grid-template: repeat(16,1fr) / repeat(16,1fr) ;
    border: 2px black solid;
    width: 400px;
    height: 400px;
}

.box {
    border: 1px black solid;
    background-color: hsl(360, 100%, 100%);
}

.filled {
    background-color: black;
}

button {
    /* background-color: blanchedalmond; */
    border-radius: 6px;
    margin: 10px;
    padding: 12px;
    font-weight: bold;
}

#clear {
    background-color: white;
}

#black {
    background-color: black;
    color: white;
}

#gradient { 
    background-image: linear-gradient(to right, black, white);
}

#rainbow {
    color: white ;
    
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

#selected {
    border-style: none;
    border: floralwhite;

}